* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor1 {
  width: 40%;
  background-color: black;
  color: white;
  text-align: center;
  justify-self: center;
}

hr {
  width: 75%;
  justify-self: center;
  border-color: lightblue;
}

.contenedor2 {
  width: 50%;
  background-color: grey;
  color: white;
  text-align: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 100%;
}

select {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 100%;
}

button {
  background-color: lightblue;
  color: white;
  width: 70%;
  height: 40px;
  font-size: 100%;
}

.espaciado {
  margin: 10px 0px;
}

.bordes {
  border-radius: 5px;
  border: 0px;
}
